<a href="https://colab.research.google.com/github/HJSmiley/KHUDA_Pandas/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title
import pandas as pd

df = pd.DataFrame(
    {"a" : [4, 5, 6, 7],
     "b" : [8, 9, 10, 11],
     "c" : [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d', 1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']))

#**데이터 분석을 위한 판다스: E, F, G, H**

##E. 행과 열 추출하기

###28. 특정 행과 열을 지정해 가져오기

In [2]:
# df.loc[가져올 행, 가져올 열] 형태로 불러옵니다.
df.loc[:, 'a':'c']  # 모든 인덱스에서 a열부터 c열까지 가져오라는 의미입니다.

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

###29. 인덱스로 특정 행과 열 가져오기

In [3]:
# 0 인덱스부터 2 인덱스까지 0번째 열과 2번째 열을 가져오라는 의미(첫 열이 0번째)
df.iloc[0:3, [0, 2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

###30. 특정 열에서 조건을 만족하는 행과 열 가져오기

In [4]:
# a열 값이 5보다 큰 경우 a열과 c열을 출력하라는 의미입니다.
df.loc[df['a'] > 5, ['a', 'c']]

     a   c
n v
e 1  6  14
  2  7  15

###31. 인덱스를 이용해 특정 조건을 만족하는 값 불러오기

In [5]:
df.iat[1, 2]  # 1번째 인덱스에서 2번째 열 값을 가져옵니다.

13

##F. 중복 데이터 다루기

In [6]:
# 중복된 값이 포함된 데이터 프레임
df = pd.DataFrame(
    {"a" : [4, 5, 6, 7, 7],
     "b" : [8, 9, 10, 11, 11],
     "c" : [12, 13, 14, 15, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d', 1), ('d', 2), ('e', 1), ('e', 2), ('e', 3)],
         names=['n', 'v']))
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

###32. 특정 열에 어떤 값이 몇 개 들어 있는지 알아보기

In [7]:
df['a'].value_counts()

7    2
4    1
5    1
6    1
Name: a, dtype: int64

###33. 데이터 프레임의 행이 몇 개인지 세어 보기

In [8]:
len(df)

5

###34. 데이터 프레임의 행과 열이 몇 개인지 세어 보기

In [9]:
df.shape

(5, 3)

###35. 특정 열에 유니크한 값이 몇 개인지 세어 보기

In [10]:
df['a'].nunique()

4

###36. 데이터 프레임의 형태 한눈에 보기

In [11]:
df.describe()

             a         b         c
count  5.00000   5.00000   5.00000
mean   5.80000   9.80000  13.80000
std    1.30384   1.30384   1.30384
min    4.00000   8.00000  12.00000
25%    5.00000   9.00000  13.00000
50%    6.00000  10.00000  14.00000
75%    7.00000  11.00000  15.00000
max    7.00000  11.00000  15.00000

###37. 중복된 값 제거하기

In [12]:
df = df.drop_duplicates()
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

#G. 데이터 파악하기

###38. 각 열의 합 보기

In [13]:
df.sum()

a    22
b    38
c    54
dtype: int64

###39. 각 열의 값이 모두 몇 개인지 보기

In [14]:
df.count()

a    4
b    4
c    4
dtype: int64

###40. 각 열의 중간값 보기

In [15]:
df.median()

a     5.5
b     9.5
c    13.5
dtype: float64

###41. 특정 열의 평균값 보기

In [16]:
df['b'].mean()

9.5

###42. 각 열의 25%, 75%에 해당하는 수 보기

In [17]:
df.quantile([0.25, 0.75])

         a      b      c
0.25  4.75   8.75  12.75
0.75  6.25  10.25  14.25

###43. 각 열의 최솟값 보기

In [18]:
df.min()

a     4
b     8
c    12
dtype: int64

###44. 각 열의 최댓값 보기

In [19]:
df.max()

a     7
b    11
c    15
dtype: int64

###45. 각 열의 표준편차 보기

In [20]:
df.std()

a    1.290994
b    1.290994
c    1.290994
dtype: float64

###46. 데이터 프레임 각 값에 일괄 함수 적용하기

In [21]:
import numpy as np
df.apply(np.sqrt) # 제곱근 구하기

            a         b         c
n v
d 1  2.000000  2.828427  3.464102
  2  2.236068  3.000000  3.605551
e 1  2.449490  3.162278  3.741657
  2  2.645751  3.316625  3.872983

##H. 결측치 다루기

In [22]:
# 넘파이 라이브러리를 이용해 null 값이 들어 있는 데이터 프레임 만들기

df = pd.DataFrame(
    {"a" : [4, 5, 6, np.nan],
     "b" : [7, 8, np.nan, 9],
     "c" : [10, np.nan, 11, 12]},
     index=pd.MultiIndex.from_tuples(
         [('d', 1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   NaN
e 1  6.0  NaN  11.0
  2  NaN  9.0  12.0

###47. null 값인지 확인하기

In [23]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 1  False   True  False
  2   True  False  False

###48. null 값이 아닌지 확인하기

In [24]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True  False
e 1   True  False   True
  2  False   True   True

###49. null 값이 있는 행 삭제하기

In [25]:
df_notnull = df.dropna()
df_notnull

       a    b     c
n v
d 1  4.0  7.0  10.0

###50. null 값을 특정 값으로 대체하기

In [26]:
df_fillna = df.fillna(13) # 13으로 대체하는 예
df_fillna

        a     b     c
n v
d 1   4.0   7.0  10.0
  2   5.0   8.0  13.0
e 1   6.0  13.0  11.0
  2  13.0   9.0  12.0

###51. null 값을 특정 계산 결과로 대체하기

In [27]:
df_fillna_mean = df.fillna(df['a'].mean())  # a열의 평균값으로 대체합니다.
df_fillna_mean

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   5.0
e 1  6.0  5.0  11.0
  2  5.0  9.0  12.0