<a href="https://colab.research.google.com/github/HJSmiley/KHUDA_Pandas/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title
import pandas as pd

In [ ]:
#@title
# 새로운 열 만들기 실습을 위한 데이터 프레임 만들기
df = pd.DataFrame(
    {"a" : [4, 5, 6, 7],
     "b" : [8, 9, 10, 11],
     "c" : [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples( # 인덱스를 튜플로 지정합니다.
         [('d', 1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']))           # 인덱스 이름을 지정합니다.
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

#**데이터 분석을 위한 판다스: I, J, K, L**

##I. 새로운 열 만들기

###52. 조건에 맞는 새 열 만들기

In [ ]:
df['sum'] = df['a'] + df['b'] + df['c']
df

     a   b   c  sum
n v
d 1  4   8  12   24
  2  5   9  13   27
e 1  6  10  14   30
  2  7  11  15   33

###53. assign()을 이용해 조건에 맞는 새 열 만들기

In [ ]:
# a열, b열, c열의 값을 모두 곱해 d열을 만들어 줍니다.
df = df.assign(multiply=lambda df: df['a']*df['b']*df['c'])
df

     a   b   c  sum  multiply
n v
d 1  4   8  12   24       384
  2  5   9  13   27       585
e 1  6  10  14   30       840
  2  7  11  15   33      1155

###54. 숫자형 데이터를 구간으로 나누기

In [ ]:
# a열을 두 개로 나누어 각각 새롭게 레이블을 만들라는 의미입니다.
df['qcut'] = pd.qcut(df['a'], 2, labels=["600이하", "600이상"])
df

     a   b   c  sum  multiply   qcut
n v
d 1  4   8  12   24       384  600이하
  2  5   9  13   27       585  600이하
e 1  6  10  14   30       840  600이상
  2  7  11  15   33      1155  600이상

###55. 기준 값 이하와 이상을 모두 통일시키기

In [ ]:
# a열에서 5 이하는 모두 5로, 6 이상은 모두 6으로 변환합니다.
df['clip'] = df['a'].clip(lower=5, upper=6)
df

     a   b   c  sum  multiply   qcut  clip
n v
d 1  4   8  12   24       384  600이하     5
  2  5   9  13   27       585  600이하     5
e 1  6  10  14   30       840  600이상     6
  2  7  11  15   33      1155  600이상     6

###56. 최댓값 불러오기

In [ ]:
df.max(axis=0)  # axis=0은 행과 행 비교, axis=1은 열과 열 비교

a               7
b              11
c              15
sum            33
multiply     1155
qcut        600이상
clip            6
dtype: object

###57. 최솟값 불러오기

In [ ]:
df.min(axis=0)

a               4
b               8
c              12
sum            24
multiply      384
qcut        600이하
clip            5
dtype: object

##J. 행과 열 변환하기

In [ ]:
# 열을 행으로, 행을 열로 변환하기

# 실습을 위해 새로운 데이터를 만듭니다.
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

###58. 모든 열을 행으로 변환하기

In [ ]:
pd.melt(df)

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

###59. 하나의 열만 행으로 이동시키기

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B'])  # A열만 그대로, B열은 행으로 이동

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

###60. 여러 개의 열을 행으로 이동시키기

In [ ]:
# A열만 그대로, B열과 C열은 행으로 이동시킵니다.
df_melt = pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
df_melt

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

###61. 특정 열의 값을 기준으로 새로운 열 만들기

In [ ]:
# A열을 새로운 인덱스로 만들고, B열과 C열은 이에 따라 정리합니다.
df_pivot = df_melt.pivot(index='A', columns='variable', values='value')
df_pivot

variable  B  C
A
a         1  2
b         3  4
c         5  6

###62. 원래 데이터 형태로 되돌리기

In [ ]:
df_origin = df_pivot.reset_index()  # 인덱스를 리셋합니다.
df_origin.columns.name = None       # 인덱스 열의 이름을 초기화합니다.
df_origin

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

##K. 시리즈 데이터 연결하기

In [ ]:
# 시리즈 데이터 만들기
s1 = pd.Series(['a', 'b'])
s1

0    a
1    b
dtype: object

In [ ]:
s2 = pd.Series(['c', 'd'])
s2

0    c
1    d
dtype: object

###63. 시리즈 데이터 합치기

In [ ]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

###64. 데이터를 병합할 때 새로운 인덱스 만들기

In [ ]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

###65. 계층적 인덱스를 추가하고 열 이름 지정하기

In [ ]:
pd.concat([s1, s2],
          keys=['s1', 's2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

##L. 데이터 프레임 연결하기

In [ ]:
# 데이터 프레임 병합 실습을 위한 데이터 프레임 1
df1 = pd.DataFrame([['a', 1],
                    ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [ ]:
# 데이터 프레임 2
df2 = pd.DataFrame([['c', 3],
                    ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [ ]:
# 데이터 프레임 3
df3 = pd.DataFrame([['c', 3, 'cat'],
                    ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [ ]:
# 데이터 프레임 4
df4 = pd.DataFrame([['bird', 'polly'],
                    ['monkey', 'george']],
                   columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

###66. 데이터 프레임 합치기

In [ ]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

###67. 열의 수가 다른 두 데이터 프레임 합치기

In [ ]:
pd.concat([df1, df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

###68. 함께 공유하는 열만 합치기

In [ ]:
pd.concat([df1, df3], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

###69. 열 이름이 서로 다른 데이터 합치기

In [ ]:
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george