<a href="https://colab.research.google.com/github/HJSmiley/KHUDA_Pandas/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**데이터 분석을 위한 판다스: A, B, C, D**

##A. 데이터 만들기

###1. 판다스 라이브러리 불러오기

In [ ]:
import pandas as pd

###2. 데이터 프레임 만들기

In [ ]:
df = pd.DataFrame(          # df라는 변수에 데이터 프레임을 담아 줍니다.
    {"a" : [4, 5, 6, 7],    # 열 이름을 지정해 주고 시리즈 형태로 데이터를 저장합니다.
     "b" : [8, 9, 10, 11],
     "c" : [12, 13, 14, 15]},
     index=[1, 2, 3, 4])  # 인덱스는 1, 2, 3으로 정해 줍니다.

###3. 데이터 프레임 출력하기

In [ ]:
df # 데이터 프레임의 이름을 입력해 출력합니다.

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

###4. 데이터의 열 이름을 따로 지정해서 만들기

In [ ]:
df = pd.DataFrame(
    [[4, 8, 12],
     [5, 9, 13],
     [6, 10, 14],
     [7, 11, 15]],
     index=[1, 2, 3, 4],
     columns=['a', 'b', 'c']) # 열 이름을 따로 정해 줄 수 있습니다.
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

###5. 인덱스가 두 개인 데이터 프레임 만들기

In [ ]:
df = pd.DataFrame(
    {"a" : [4, 5, 6, 7],
     "b" : [8, 9, 10, 11],
     "c" : [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples(  # 인덱스를 튜플로 지정합니다.
         [('d', 1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']))            # 인덱스 이름을 지정합니다.
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

##B. 데이터 정렬하기

###6. 특정 열 값을 기준으로 정렬하기

In [ ]:
df.sort_values('a', ascending=False) # ascending=False를 적어 주면 역순으로 정렬

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13
  1  4   8  12

###7. 열 이름 변경하기

In [ ]:
df.rename(columns={'c':'d'})  # c 열 이름을 d로 변경합니다.

     a   b   d
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

###8. 인덱스 값 초기화하기

In [ ]:
df.reset_index()

   n  v  a   b   c
0  d  1  4   8  12
1  d  2  5   9  13
2  e  1  6  10  14
3  e  2  7  11  15

###9. 인덱스 순서대로 정렬하기

In [ ]:
df.sort_index()

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

###10. 특정 열 제거하기

In [ ]:
df.drop(columns=['a', 'b'])

      c
n v
d 1  12
  2  13
e 1  14
  2  15

##C. 행 추출하기

###11. 맨 위의 행 출력하기

In [ ]:
df.head(2)  # 2행을 출력합니다.

     a  b   c
n v
d 1  4  8  12
  2  5  9  13

###12. 맨 아래 행 출력하기

In [ ]:
df.tail(2)  # 2행을 출력합니다.

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

###13. 특정 열의 값을 추출하기

In [ ]:
df[df["a"] > 4] # a열 중 4보다 큰 값이 있을 경우 해당 행을 추출합니다.

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

###14. 특정 열에 특정 값이 있을 경우 추출하기

In [ ]:
df[df["a"] == 6]  # a열 중 6이 있을 경우 해당 행을 추출합니다.

     a   b   c
n v
e 1  6  10  14

###15. 특정 열에 특정 값이 없을 경우 추출하기

In [ ]:
df[df["a"] != 5]  # a열 중 5가 없을 경우 해당 행을 추출합니다.

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14
  2  7  11  15

###16. 특정 열에 특정 숫자가 있는지 확인하기

In [ ]:
df[df['a'].isin([4])] # 원하는 숫자를 리스트([int]) 형식으로 써 줍니다.

     a  b   c
n v
d 1  4  8  12

###17. 특정 비율로 데이터 샘플링하기

In [ ]:
df.sample(frac=0.75)  # 실행할 때마다 정해진 비율만큼 랜덤하게 추출합니다.

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
d 1  4   8  12

###18. 특정 개수만큼 데이터 샘플링하기

In [ ]:
df.sample(n=3)  # 실행할 때마다 n에서 정한 만큼 랜덤하게 추출합니다.

     a   b   c
n v
d 2  5   9  13
e 2  7  11  15
d 1  4   8  12

###19. 특정 열에서 큰 순서대로 불러오기

In [ ]:
df.nlargest(3, 'a') # a열에서 큰 순서대로 세 개를 불러옵니다.

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13

###20. 특정 열에서 작은 순서대로 불러오기

In [ ]:
df.nsmallest(3, 'a')  # a열에서 작은 순서대로 세 개를 불러옵니다.

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

##D. 열 추출하기

###21. 인덱스의 범위로 불러오기

In [ ]:
# 0부터 세므로 첫 번째 줄은 인덱스 0, 4번째 줄은 인덱스 3이 됩니다.
df.iloc[1:4]  # [a:b]의 경우 a 인덱스부터 b-1 인덱스까지 불러오라는 의미입니다.
              # a열에서 순서대로 세 개를 불러옵니다.

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

###22. 첫 인덱스를 지정해 불러오기

In [ ]:
df.iloc[2:] # [a:]는 a 인덱스부터 마지막 인덱스까지 불러오라는 의미입니다.

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

###23. 마지막 인덱스를 지정해 불러오기

In [ ]:
df.iloc[:3] # [:b]는 처음부터 b-1 인덱스까지 불러오라는 의미입니다.

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

###24. 모든 인덱스 불러오기

In [ ]:
df.iloc[:]  # [:]는 모든 인덱스를 불러오라는 의미입니다.

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

###25. 특정 열을 지정해 가져오기

In [ ]:
df[['a', 'b']]  # a열과 b열을 가져오라는 의미입니다.

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

###26. 조건을 만족하는 열 가져오기

In [ ]:
df.filter(regex='c')  # 열 이름에 c라는 문자가 포함되어 있으면 출력하라는 의미입니다.

      c
n v
d 1  12
  2  13
e 1  14
  2  15

###27. 특정 문자가 포함되지 않는 열 가져오기

In [ ]:
# 열 이름에 c라는 문자가 포함되어 있지 않으면 출력하라는 의미입니다.
df.filter(regex='^(?!c$).*')

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11